@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@400;500;600;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}


:root{
    --default-font-color:#030303;
    --background-color-1: #be2f37;
    --bone-color:#EEE4E1;
    --box-shadow: 0px 2px 4px -3px #000000;
    --accent-color-1: #f03e42;
}

body {
    overflow-x: hidden;
}

#intro {
height: 100vh;
width: 100vw;
background-image: url("https://img5.goodfon.com/original/8688x5792/5/4e/butcher-steak-raaw-meat-miasnik-steik-syroe-miaso-nozh-ruki.jpg");
background-size: cover;
background-position: center;
position: absolute;
top: 0px;
animation-name: intro;
animation-duration: 2s;
animation-delay: 1.3s;
animation-fill-mode: forwards;
display: flex;
z-index: 2;
align-items: center;
justify-content: center;
}

#intro h1
{
font-family: 'Pacifico', cursive;
color: var(--bone-color);
font-size: 90px;
font-weight: 400;
text-shadow: 0 0 15px black;
letter-spacing: 4px;
position: absolute;
top: 200px;
}

#intro h2{
    color: #7A4920;
    font-size: 90px;
    text-shadow: 0 0 15px black;
    letter-spacing: 4px;
    position: absolute;
    top: 320px;
    animation: welcome 1s ease-in;
    transition-duration: 1.1s;
 
}







@keyframes welcome {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.50;
    }
    100% {
        opacity: 1;
    
    }
}



 @keyframes intro {
    0% {
        top: 0px;
    }

    100%{
        top: -100vh;
    }
}



#banner{
    background: url("https://img5.goodfon.com/original/5616x3744/d/18/mmmmmmm-nnnnn-bbbbbb-vvvvv-ccccccccc-xxxxxxxx.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

nav{
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display:  flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    letter-spacing: 1.5px;
    font-size: 18px;
    text-shadow: 0px 0px 15px black;
    border: solid 1px white;
    padding: 10px 20px;
    position: relative;
    top: 30px;
    
}


nav ul li a {
    right: 80px;
}



#logo{
    left: 80px;
    font-family: 'Pacifico', cursive;
    color: #EEE4E1;    
    font-weight: 400;
    text-shadow: 0 0 15px black;
    letter-spacing: 2px;
    background-color: var(--background-color-1);
    transition-duration: .4s;
}


#logo img{
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    position: relative;
    left: 8px;
}


#logo:hover{
    opacity: 0.9;
}

nav ul{
    list-style: none;
}


nav ul li a{
    background-color: #1919198d;
}

nav ul li:last-child a{
    background-color: var(--background-color-1);
    border: none;
    transition-duration: .4s;
    text-shadow: 0 0 4px black;
}

nav ul li:last-child a:hover{
    background-color: #f03e42;
}


nav ul li a span {
    position: relative;
    text-decoration: none;
    color: inherit;
  }
  

  nav ul li a span::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #be2f37;
    transition: width 0.3s ease;
  }
  

  nav ul li a span:hover::after {
    width: 100%;
  }





  #slog-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #slog-text h1{
    color:var(--bone-color);
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    text-shadow: 0 0 15px black;
    letter-spacing: 2px;
  }

  #slog-text h1 span{
    color: var(--accent-color-1);
}


 

  #button{
    text-decoration: none;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    background-color: var(--background-color-1);
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 3px;
    transition: all .2s ease-in-out;
    background-size: 200% 100%;
    background-position: -100% 0;
    animation: shining 2s linear infinite;
    border-radius: 2px;
    position: relative;
    top: 20px;
  }

  #button span{
    display: inline-block;
    font-size: 13px;
    position: relative;
    bottom: 3px;
    font-weight: normal;
  }

  #button:hover{
    background: #d5353e;
    box-shadow: 0px 2px 8px 0px #000000;
    
  }



 #accessibility{
    background: url("https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/2018/png/iconmonstr-eat-1.png&r=213&g=53&b=62");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 20px;
    bottom: 50px;
    z-index: 1;
    animation: accessibility 1.5s   infinite alternate ease-out;
    transition-duration: .9s;

 }


 @keyframes accessibility {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    20% {
      transform: scale(1.05);
      opacity: 0.9;
    }
    40% {
      transform: scale(1.1);
      opacity: 1;
    }
    60% {
      transform: scale(1.1);
      opacity: 1;
    }
    80% {
      transform: scale(1.05);
      opacity: 0.9;
    }
    100% {
      transform: scale(1);
      opacity: 0.8;
    }
  }
  
 
#accessibility:hover{
    animation-name: none;
    transform: scale(1.1);
    background: url("https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/2018/png/iconmonstr-eat-1.png&r=240&g=62&b=66");
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }



  #accessibility-popup{
    position: fixed;
    bottom: 120px;
    left: 20px;
    z-index: 1;
    background: red;
    display: none;
  }




  #accessibility:hover + #accessibility-popup {
    display: block;
  }


  #background{
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  

  #background h2{
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 3px;

  }



 #background p {
  font-size: 15px;
  text-align: center;
  width: 70%;
  letter-spacing: 1px;
  margin: 25px 0px;
  font-weight: 600;
 }

 #cards{
  display: flex;
  gap: 15px ;
 }

 .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
 }

 .card img{
  width: 250px;

 }

 .card-experience h4{
  color: var(--background-color-1);
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
 }

 .card-experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
 }

 .card-experience p{
  font-size: 15px !important;
  letter-spacing: 1px !important;
  font-weight: 600 !important;
  word-spacing: 1px;
 }

 .card-image{
  display: flex;
  justify-content: space-between;
 }




#contain-container{
  margin-top: 80px;
  background-color:#000000;
  display:  flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
}

#company-links{
  width: 70%;
}

#footer-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


#footer-row li a{
  text-decoration: none;
  color:#999999;
  border: solid 1px;
  padding:10px 20px;
  text-transform: uppercase;
  font-weight: 800;
}

.text{
  transition-duration: 0.6s;
}

#footer-row li{
  margin-top: 40px;
  list-style: none;

}



#footer-row li:last-child{
  align-self: center;
}




#footer-row li a:hover .text{
  color: var(--background-color-1);
  font-size: 17px;
}


#social-media-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


#social-media-links a {
  position: relative;
  color: #a5a6aa;
  font-size: 33px;
  transition-duration: 1s;
}



#social-media-links a:not(:last-child){
  margin-right: 60px;
}

#social-media-links a:hover{
  color: var(--background-color-1);
}


#footer-bar{
  font-size: 14px;
  color: #a5a6aa;
  position: relative;
  bottom: 20px;
  letter-spacing: 1.2px;
}

#footer-bar p span {
  font-weight: normal;
}